<table>
    <thead>
        <td>REF</td>
        <td>Titre</td>
        <td>Auteur</td>
        <td>Catégorie</td>
        <td>Genre</td>
        <td>Langue</td>
        <td>Date de retour</td>
        <td>Emprunter</td>
    </thead>
    {% for book in all_books %}
    <tr>
        <td>{{book.ref}}</td>
        <td><a href="/browse/{{ book.book_id }}/">{{book.title}}</a></td>
        {% if book.format.name == "B.D" %}
            <td>{{book.author.name}}</td>
        {% else %}
            <td>{{book.author.firstname}} {{book.author.name}}</td>
        {% endif %}
        <td>{{book.format.name}}</td>
        <td>{{book.category.name}}</td>
        <td>{{book.language.name}}</td>
        {% if book.is_borrowed == False %}
            <td>Disponible</td>
        {% else %}
            <td>{{ book.return_date }}</td>
        {% endif %}
        <td><input type="button" value="emprunter"></td>
    </tr>
    {% endfor %}
</table>

